{%extends 'index.html'%}
{%block body%}
<body>
<form action="insert" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="305" border="0">
    <tr>
      <th width="178" scope="row">NAME</th>
      <td width="111"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <th scope="row">AGE</th>
      <td><label for="textfield2"></label>
      <input type="number" name="textfield2" id="textfield2" min="18" max="35" /></td>
    </tr>
    <tr>
      <th scope="row">PHONE</th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" required pattern="[6789][0-9]{9}"/></td>
    </tr>
    <tr>
      <th scope="row">ADDRESS</th>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea></td>
    </tr>
    <tr>
      <th scope="row">EMAIL</th>
      <td><label for="textfield4"></label>
      <input type="email" name="textfield4" id="textfield4" placeholder="admin" required /></td>
    </tr>
    <tr>
      <th scope="row">GENDER</th>
      <td><input type="radio" name="gender" id="radio" value="male" />
      <label for="radio">MALE 
        <input type="radio" name="gender" id="radio2" value="female" checked />
      FEMALE</label></td>
    </tr>
    <tr>
      <th scope="row">QUALIFICATION</th>
      <td><input type="checkbox" name="qualification" id="checkbox" value="SSLC" />
      <label for="checkbox">SSLC
        <br />
        <input type="checkbox" name="qualification" id="checkbox2" value="PLUS TWO"/>
      PLUS TWO
      <br />
      <input type="checkbox" name="qualification" id="checkbox3" value="DEGREE" checked/>
      DEGREE</label></td>
    </tr>
    <tr>
      <th scope="row">LANGUAGE</th>
      <td><label for="select"></label>
        <select name="select" id="select">
          <option>ENGLISH</option>
          <option>MALAYALAM</option>
          <option>HINDI</option>
          <option>TAMIL</option>
      </select></td>
    </tr>
    <tr>
      <th scope="row">PASSWORD</th>
      <td><label for="textfield5"></label>
      <input type="password" name="textfield5" id="textfield5" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{3,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 3 or more characters"/></td>
    </tr>
    <tr>
      <th scope="row">PHOTO</th>
      <td><input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="register"></th>
    </tr>
  </table>
</form>
</body>
{%endblock%}
